{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
  {uuid, ".*", {git, "git://github.com/travis/erlang-uuid.git", "master"}},
  {mochijson2, ".*", {git, "git://github.com/bjnortier/mochijson2.git", "master"}},
  {iso8601, ".*", {git, "git://github.com/seansawyer/erlang_iso8601.git", "1.1.1"}},
  {erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}}
]}.

{cover_enabled, true}.

